.example-card {
  width: 22%;
  margin: 0 auto;
}

.color-label{
  color: #c6c6c6;
}

.w-100 {
  width: 100%;
}

.tac {
  text-align: center;
}

.mt-40 {
  margin-top: 40px;
}

.mt-30 {
  margin-top: 30px;
}

.green {
  color: white;
  background: var(--btn-blue);
}