.store{
    margin: 0 auto;
    text-align: center;
    width: 90%;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.content-cards{
    display: inline-block;
}

.card-character{
    color: black;
    padding: 5px;
    width: 70px;
    height: 90px;
    background-color: #fafafa;
    border: 1px solid black;
    margin: 5px;
    border-radius: 3px;
}