
html, body { height: 90vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #f9f9f9;  }
:root{
    --btn-blue: #466eff;
}

.w80{
    width: 80%;
}
.w70{
    width: 70%;
}
.w30{
    width: 30%;
}
.w20{
    width: 20%;
}